html, body {
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: 'Open sans';
  font-size: 5vh;

  background: #202020;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;

  .row {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
  }

  .col, .col-2, .col-3, .col-4 {
    flex: 1 0 0;
    justify-content: stretch;
    display: flex;
    overflow: hidden;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}



.bg-lightgray { background-color: #d3d4d6; }
.bg-gray { background-color: #c6c7c9; }
.bg-dark { background-color: #202020; }
.bg-orange { background-color: #f68e13; }
.txt-white { color: #fff; }



.btn, .result {
  display: flex;
  flex: 1 1 auto;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.result {
  justify-content: right;
  align-items: end;
  font-size: 12vh;
  padding: 0 15px;
}



.btn:hover {
  opacity: .8;
  cursor: pointer;
}